body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #c58b55;
    height: 100vh;
}

.header {
    padding: 15px;
    position: fixed;
    top: 0;
    background-color: #6e482f;
    display: flex;
    gap: 10%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
}
.menu a {
    text-decoration: none;
    color: white;
}

.voltar {
    margin-top: 5.5%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.voltar p {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/* ESTILIZAÇÃO DO CONTEUDO CENTRAL COM O PRODUTO */
.conteudo {
    position: absolute;
    width: 80%;
    margin-top: 8%;
    background-color: #ffffff;
    padding: 30px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.imagem-produto img {
    width: 250px;
    border-radius: 8px;
}

.info-produto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-produto h1 {
    margin: 0;
    font-size: 28px;
}

.info-produto p {
    font-size: 16px;
    color: #333;
}

.btn-comprar,
.btn-baiano {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.btn-comprar {
    background-color: #175ab3;
    color: white;
}

.btn-baiano {
    background-color: #bd1515;
    color: #ffffff;
}

.baiano-IA {
    margin-top: 20px;
    padding: 15px;
    background-color: #c58b55;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.baiano-IA .titulo-baiano-IA{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.baiano-IA .p-baiano-IA{
    color: white;
}

/* CSS DO RODAPE */

.footer {
    width: 100%;
    background-color: #6e482f;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
